---
import '@fontsource-variable/fraunces/full.css';
import '@fontsource-variable/dm-sans';
import '@fontsource/tiro-bangla';
import '../styles/global.css';

interface Props {
	title?: string;
}

const { title = "Shriram Samruddhi Pujo 2026" } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
